body {
    font-family: 'Roboto', sans-serif;
}

section {
  width: 500px;
}

* {
    box-sizing: border-box;
    /* outline: 1px solid red */
  }
  

  main  {
    /* border: 1px solid red */
  }

  footer  {
    /* border: 1px solid red */
  }

  body {
    min-height: 100vh
  }

  body {
    margin: 0;
    padding: 0;
}

body {
    
    flex-direction: column;
    justify-content: space-between;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .nav {
    background-color: #00bfff;
  }

  .nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    height: 50px;
  }

  .nav-link {
    text-decoration: none;
    transition: .3s;
    padding: 5px;
    color: black;
    font-size: 20px;

  }

      .nav-link:hover {
        color: white;
        border: white 2px solid;
        border-radius: 20px;
      }

     
      .foto {
        height: 400px;
      }

      .name {
        font-size: 50px;
        color: rgb(89, 87, 87);
      }

      .proffesion {
        font-size: 40px;
        color: rgb(89, 87, 87);
      }

      .left {
        width: 600px;
      }

      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .left {
        text-align: center
      }

      .abc {
        background-color: #00bfff;
        width: inherit;
      }

      

      .left {
        background-color: rgb(89, 87, 87);
      }

      

      .contact__image {
        display: flex;
      }

      .image__contact {
        height: 40px;
        margin-top: 25px;
      }


      .contacts {
        margin-left: 100px;
        width: 400px;
      }
      
      .contact__items {
        list-style: none;
      }

      .caption {
        text-align: left;
        font-size: 35px;
        border-bottom: 2px white solid;
        width: fit-content;
        color: white;
        margin-left: 40px;
      }

      .contact__items {
        text-align: left;
      }

      .contacts__capt {
        font-size: 45px;
        font-variant: all-petite-caps;
        margin: 15px;
        text-decoration: underline;
      }

      .contact {
        font-size: 35px;
        color: white;
      }

      .contact-i {
        font-size: 25px;
        color: rgb(159, 155, 155);
        font-style: oblique;
        font-weight: bold;
      }

      .sides {
        display: flex;
      }

      .education {
        margin-left: 2px;
      }
      
      .languages {
        color: white;
      }
      
      .language__items {
        list-style: none;
        margin: 0px;
      }

      .language__capt {
        font-size: 45px;
        text-decoration: underline;
      }

      .language__item {
        display: flex;
        align-items: center;
        gap: 60px;
      }

      .eng {
        font-size: 35px;
        margin-left: 70px;
      }

      .aboutme__capt {
        font-size: 45px;
        color: rgb(89, 87, 87);
        margin-left: 50px;
      }

      .aboutme, .works, .skill, .codes {
        width: auto;
        max-width: 570px;
      }

      .aboutme-i {
        font-size: 40px;
      }

      .aboutme__items {
        list-style: none;
      }

      
      .works__capt {
        font-size: 45px;
        color: rgb(89, 87, 87);
        margin-left: 50px;
      }

      .works__item {
        font-size: 35px;

      }

      .works__items {
        list-style: none;
      }

      .skill {
        width: 750px;
      }
      
      .skill__capt {
        font-size: 45px;
        color: rgb(89, 87, 87);
        margin-left: 50px;
      }

      .skill__item {
        font-size: 35px;
      }

      .skill__items {
        list-style: none;
      }

      .codes__capt {
        font-size: 45px;
        color: rgb(89, 87, 87);
        margin-left: 50px;
      }

      .codes {
        width: 750px;
      }
      
      .codes__items {
        list-style: none;
        font-size: 35px;
      }

      .code {
        background-color: rgb(159 155 155 / 50%);
        border-radius: 10px;
      }

      .first-line {
        width: 100px;
        background-color: white;
        height: 10px;
        border-radius: 10px;
      }

      .second-line {
        width: 40px;
        background-color: #00bfff;
        height: 10px;
      }

      .fotoprof, .logorschool {
        height: 40px;
      }

      .box_container {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 300px;
        padding: 10px;
        background-color: rgb(89, 87, 87);
      }
